/* cMore print stylesheet */

.donotprint {
	display: none;
	}
	
.notonscreen {
	display: inline;
	}
	
#top_line1, #top_line2 {
	display: none;
	}
#sidebar, indexlinks {
	display: none;
	}
#content {
	float: left;
	border: none;
	min-height:400px;
	padding-left:10px;
	padding-bottom: 15px;
	width: 78%;
}
#content p {
	width: 90%;
	}
.logout_message {
	display: none;
	}
#line4 {
	display: none;
	}
.footerlinks {
	display: none;
	}
.line { 
	border-top: 1px solid #000000;
	font-size: 1px;
}
.line-dot {
	border-top: 1px solid #999;
	font-size: 1px;
	}
#localfooter {
	display: none;
	}
